.comment-edit-button {
    background-color: transparent;
    border: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bolder;
    cursor: pointer;
    width: 180px;
}

.comment-edit-form-container {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.comment-edit-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 500px;
    justify-content: space-around;
}

.edit-comment-textarea {
    resize: none;

}
