.image-detail-image {
    width: 400px;
    height: 400px;
    border: solid;
}

.image-detail-component-page {
    display: flex;
    width: 600px;
    height: 50%;

}

/* .image-detail-content-top {
    height: 363px;
} */

.user-div {
    display: flex;
    height: 30px;
    width: 180px;
    justify-content: space-between;
    width: 100%;
}

.feed-image-icon-div {
    display: flex;
}

.followModalButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.fa-regular.fa-message {
    font-size: large;
    /* color: skyblue; */
    /* font-weight: bold; */

}
