.image-detail-image {
    width: 400px;
    height: 400px;
    border: solid;
}

.image-detail-component-page {
    display: flex;
    width: 600px;
    height: 50%;

}

.user-div {
    display: flex;
    height: 30px;
    width: 180px;
    justify-content: space-between;
}

.image-detail-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.feed-image-icon-div {
    display: flex;
}

.followModalButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.fa-regular.fa-message {
    font-size: large;
    /* color: skyblue; */
    /* font-weight: bold; */

}

.detail-summary {
    overflow-wrap: break-word;
    width: 190px;
}

.detail-comments {
    width: 100%;
}

.detail-comment-form {

}
