.landing-page-body {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    height: 100%;
}

.landing-page-container {
    display: flex;
    margin-right: 30px;
}

.landing-page-dog {
    height: 500px;
}
