/* LoginForm */
body {
    background-color: ghostwhite;
}
/*
#root {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: flex-end;
    height: 500px;
} */

.login-form-container {
    border: solid;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: auto;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 183px;
    /* padding-bottom: 20px; */
}

.login-input {
    border-radius: 3px;
    padding: 5px;
    width: 169px;
}

.login-form-submit {
    background-color: skyblue;
    border-radius: 3px;
    padding: 5px;
    color: white;
    /* width: 183px; */

}

/* .login-form-errors{
    position: relative;
    right: 15px;
    width: 300px;
} */

.sign-up-redirect-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;

}

.sign-up-redirect {
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
}

/* Signup Form */
.signup-body {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    height: 100%;
    /* margin-top: 33%; */
    /* height: 500px; */
}

.signup-form-container {
    border: solid;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: auto;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 183px;
    /* padding-bottom: 20px; */
}

/* .signup-form-errors{
    position: relative;
    right: 40px;
    width: 300px;
} */

.login-redirect-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;

}

.login-redirect {
    text-decoration: none;
    color: skyblue;
    font-weight: bold;
}

.logout-button {
    cursor: pointer;
    background-color: skyblue;
    border-radius: 3px;
    padding: 5px;
    color: white;
}

.app-title {
    font-family: 'Oleo Script Swash Caps', cursive;
}

.error-message {
    color: red;
    font-size: 13px;
    /* margin-left: 30px; */
}

.switchFormButton {
    font-weight: bold;
    cursor: pointer;
    color: skyblue;
}
