.feed-container {
    width: 500px;
    height: 700px;
    border: solid;
    border-radius: 5px;
}

.feed-images {
    width: 500px;
    height: 500px;
}

.body-div {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
