.search-page-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

#search-icon {
    font-size: 20px;
    margin-right: 3px;
    /* color: rebeccapurple; */
}

.search-bar-button {
    background-color: skyblue;
    color: white;
}

.searchLink {
    text-decoration: none;
    color: inherit;
}

.searchLink:hover {
    background-color: skyblue;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
